.mbt-is-hidden {
	display: none !important;
}
.mbt-metabox-tabs-wrapper *,
.mbt-metabox-tabs-wrapper *:before,
.mbt-metabox-tabs-wrapper *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.mbt-metabox-tabs-wrapper {
    background: #f9f9f9;
}

.mbt-metabox-tabs-wrapper.mbt-layout-horizontal {
    background: #fff;
}

.mbt-metabox-tabs-wrapper .mbt-col-left {
    width: 120px;
    float: left;
}

.mbt-metabox-tabs-wrapper .mbt-col-right {
    float: left;
    background: #fff;
    min-height: 250px;
    width: calc(100% - 120px);
    border-left: 1px solid #eee;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-form-table th.mbt-field-label {
    font-weight: 400;
    line-height: 1.2;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-form-table th.mbt-field-label,
.mbt-metabox-tabs-wrapper .mbt-metabox-form-table td.mbt-field-control {
    font-size: 13px;
}

.mbt-metabox-tabs-wrapper .mbt-row .mbt-metabox-tabs-wrap-inner {
	background: #f9f9f9;
	float: left;
	width: 100%;
	position: relative;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-tabs,
.mbt-metabox-tabs-wrapper .mbt-metabox-tabs .mbt-metabox-tab {
    margin: 0;
}

.mbt-metabox-tabs-wrapper .mbt-row .mbt-metabox-tabs .mbt-metabox-tab {
    display: inline-block;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-tabs .mbt-metabox-tab.active {
    margin-right: -1px !important;
    position: relative;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-tabs .mbt-metabox-tab a {
    color: #777;
    display: block;
    border-bottom: 1px solid #eee;
    outline: none;
    padding: 20px;
    text-decoration: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.mbt-metabox-tabs-wrapper .mbt-metabox-tabs .mbt-metabox-tab.active a {
    background: #fff;
    color: #000;
}
.mbt-metabox-tabs-wrapper .mbt-row .mbt-metabox-tabs .mbt-metabox-tab a {
    border: 0;
}
.mbt-metabox-tabs-wrapper .mbt-metabox-tab-number {
	display: inline-block;
    background: #ededed;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-tab-content:not(.active) {
    display: none;
}
.mbt-metabox-tabs-wrapper .mbt-row .mbt-metabox-tabs-content {
    background: #fff;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-section {
	margin-bottom: 25px;
	float: left;
	width: 100%;
	padding: 0 15px;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-section .mbt-metabox-section-title {
    padding: 20px 0 !important;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #eee;
    font-weight: bold !important;
    text-transform: uppercase;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-section.mbt-metabox-section-collapsable {
	margin-bottom: 8px;
}
.mbt-metabox-tabs-wrapper .mbt-metabox-section.mbt-metabox-section-collapsable:last-of-type {
	margin-bottom: 25px;
}
.mbt-metabox-tabs-wrapper .mbt-metabox-section.mbt-metabox-section-collapsable .mbt-metabox-section-title {
	margin-bottom: 0 !important;
}
.mbt-metabox-tabs-wrapper .mbt-metabox-section.mbt-metabox-section-collapsable[data-toggle-type="icon"] .mbt-metabox-section-title {
	cursor: pointer;
}
.mbt-metabox-tabs-wrapper .mbt-metabox-section.mbt-metabox-section-collapsable[data-toggle-type="icon"] .mbt-metabox-section-title:after {
	content: "\f347";
    float: right;
    font-family: dashicons;
}
.mbt-metabox-tabs-wrapper .mbt-metabox-section.mbt-metabox-section-collapsable.mbt-metabox-section-expanded[data-toggle-type="icon"] .mbt-metabox-section-title:after {
	content: "\f343";
}
.mbt-metabox-tabs-wrapper .mbt-metabox-section.mbt-metabox-section-collapsable .mbt-metabox-section-content {
	display: none;
    float: left;
    width: 100%;
	margin-bottom: 10px;
}
.mbt-metabox-tabs-wrapper .mbt-metabox-section.mbt-metabox-section-collapsable .mbt-metabox-section-title .mbt-field {
	float: right;
}
.mbt-metabox-tabs-wrapper .mbt-metabox-section.mbt-metabox-section-collapsable .mbt-metabox-section-title .mbt-field-label {
	text-transform: none;
    font-weight: 400;
	color: #888;
	vertical-align: middle;
}
.mbt-metabox-tabs-wrapper .mbt-metabox-section.mbt-metabox-section-collapsable .mbt-metabox-section-title .mbt-toggle-field {
	margin-left: 4px;
    margin-right: 4px;
}

/* Fields */
.mbt-metabox-tabs-wrapper .mbt-field {
    font-size: 13px;
    vertical-align: top;
}

.mbt-metabox-tabs-wrapper .mbt-field .mbt-field-description {
    color: #888;
}

.mbt-metabox-tabs-wrapper .mbt-field .description {
    font-size: 13px;
}

.mbt-metabox-tabs-wrapper .mbt-field .mbt-field-control-wrapper {
	position: relative;
}

/* textarea */
.mbt-metabox-tabs-wrapper .mbt-field textarea {
    min-width: 320px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-field-multirows-wrapper {
	display: inline-block;
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-field-multirows-wrapper input {
	display: block;
	border: none;
	box-shadow: none !important;
}

/* color picker */
.mbt-metabox-tabs-wrapper .mbt-field .wp-color-result {
    height: 24px;
}

/* uploader */
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper {
    display: table;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-container.mbt-has-img {
    width: 80px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-container.mbt-has-img img {
    max-height: 80px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-container,
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-input {
    display: table-cell;
    vertical-align: middle;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-input .mbt-img-url {
    min-width: 230px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-container.mbt-has-img + .mbt-img-input .mbt-img-url {
    display: block;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-input .mbt-img-action {
    display: inline-block;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-container.mbt-has-img + .mbt-img-input {
    padding-left: 10px;
}

/* static field */
.mbt-metabox-tabs-wrapper .mbt-field .mbt-static-field {
    padding: 0 10px;
    background: #f9f9f9;
    min-height: 32px;
    line-height: 32px;
    display: inline-block;
    font-family: monospace;
}

/* time field */
.mbt-metabox-tabs-wrapper .mbt-field .mbt-time-field-row {
	float: left;
    margin-right: 10px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-time-field-row select {
    max-width: 100% !important;
    width: 100%;
    min-width: 70px !important;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-time-field-label {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
	margin-top: 2px;
	color: #666;
}

/* divider field */
.mbt-metabox-tabs-wrapper .mbt-field[data-type="divider"] .mbt-field-control {
	padding: 0;
    padding-top: 20px;
}
.mbt-metabox-tabs-wrapper .mbt-field[data-type="divider"] .mbt-metabox-field-title {
    font-size: 14px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

/* posts */
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field {
    position: relative;
    display: inline-block;
    width: 335px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field .mbt-suggest-placeholder {
    position: absolute;
    display: block;
    padding: 7px;
    color: #999;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field.mbt-suggest-has-data .mbt-suggest-placeholder {
    display: none;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field .mbt-suggest-select {
    border: 1px solid #ddd;
    border-radius: 3px;
    min-height: 30px;
    cursor: pointer;
    position: relative;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field.mbt-suggest-field-active .mbt-suggest-select {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-color: transparent;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field .mbt-suggest-select > span {
    background: #eee;
    padding: 3px 7px;
    padding-left: 0;
    display: inline-block;
    margin-left: 3px;
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    clear: none;
    user-select: none;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field .mbt-suggest-select > span span.mbt-selected-remove {
    padding: 2px 4px;
    font-weight: bold;
    font-size: 14px;
    user-select: none;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field .mbt-suggest-select span:hover {
    background: #ddd;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field ul.mbt-suggest-items {
    position: absolute;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 335px;
    max-height: 206px;
    overflow-y: auto;
    z-index: 9999;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field.mbt-suggest-field-active ul.mbt-suggest-items {
    opacity: 1;
    visibility: visible;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field li {
    padding: 0 10px;
    margin: 0;
    cursor: pointer;
    user-select: none;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field li input.mbt-suggest-search-input {
    margin: 10px 0;
    width: 100%;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field li.mbt-suggest-item:hover {
    background: #eee;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field li.mbt-suggest-item label {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    padding: 8px 0;
    width: 100%;
    user-select: none;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field li.mbt-suggest-item input {
    box-shadow: none !important;
}

/* toggle */
.mbt-metabox-tabs-wrapper .mbt-field .mbt-toggle-field {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 20px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-toggle-field input {
	display: none !important;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-toggle-field .mbt-toggle-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-toggle-field .mbt-toggle-slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 3px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-toggle-field input:checked + .mbt-toggle-slider {
	background-color: #0285ba;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-toggle-field input:focus + .mbt-toggle-slider {
	box-shadow: 0 0 1px #0285ba;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-toggle-field input:checked + .mbt-toggle-slider:before {
	-webkit-transform: translateX(24px);
  	-ms-transform: translateX(24px);
  	transform: translateX(24px);
}

/* group */
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group {
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 10px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-title {
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    margin: -10px;
    padding: 10px;
	cursor: pointer;
	position: relative;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-title:after {
    content: "\f140";
    font-family: dashicons;
    float: right;
    font-size: 15px;
    color: #9c9c9c;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-title.open:after {
    content: "\f142";
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-title span.mbt-group-field-unsaved {
    display: none;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    color: #999;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group.mbt-fields-group-new .mbt-fields-group-title span.mbt-group-field-unsaved {
    display: inline;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-group-field-controls {
	position: absolute;
    right: 30px;
    top: 12px;
	color: #999;
	opacity: 0;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-group-field-controls a {
	text-decoration: none;
	outline: none !important;
	text-shadow: none;
	box-shadow: none !important;
	color: #999;
	margin-right: 10px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-group-field-controls a:hover {
	color: #555;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-group-field-controls svg,
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer svg {
    display: inline-block;
    font-size: inherit;
    overflow: visible;
	vertical-align: -.125em;
	width: 1em;
	height: 1em;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-title:hover .mbt-group-field-controls {
	opacity: 1;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper a.disabled {
    pointer-events: none;
    cursor: default;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer {
    border-top: 1px solid #eee;
    margin-top: 10px;
    padding: 20px 0;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer .mbt-fields-group-order {
    float: left;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer .button span.dashicons {
    line-height: 1.2;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer .mbt-fields-group-remove,
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer .mbt-fields-group-clone {
    text-align: right;
    float: right;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer .mbt-fields-group-remove {
    color: #bf3e34;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer div.mbt-fields-group-clone {
    margin-right: 5px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-action {
    text-align: left;
    margin-top: 15px;
}

/* button field */
.mbt-metabox-tabs-wrapper .mbt-field[data-type="button"] .mbt-field-label label {
    display: none;
}
.mbt-metabox-tabs-wrapper .mbt-field[data-type="button"] .mbt-button.disabled,
.mbt-metabox-tabs-wrapper .mbt-field[data-type="file"] .mbt-upload-file.disabled {
    pointer-events: none;
}
.mbt-metabox-tabs-wrapper .mbt-field[data-type="button"] .mbt-loader {
    display: none;
    line-height: 1.7;
    padding-left: 5px;
}

.mbt-spinner {
	visibility: visible;
	position: absolute;
	top: 0px;
    left: -40px;
}
